
@{
    ViewBag.Title = "Index";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Đơn hàng bị hủy</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">DataTables</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Danh sách đơn hàng bị hủy</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Số đơn hàng</th>
                                <th>Tên khách hàng</th>
                                <th>Ngày giao</th>
                                <th>Địa chỉ</th>
                                <th>Thành tiền</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>06</td>
                                <td>20010128006</td>
                                <td>Trần Công Minh</td>
                                <td>23/12/2021</td>
                                <td>An Phú Đông, Q.12, TP. Hồ Chí Minh</td>
                                <td>750.000</td>
                                <td>
                                    <button class="btn btn-danger">Bị hủy</button>
                                </td>
                            </tr>
                            <tr>
                                <td>07</td>
                                <td>20010128007</td>
                                <td>Nguyễn Minh Tiến</td>
                                <td>23/12/2021</td>
                                <td>113 Trần Quốc Hào, Q.3, TP. Hồ Chí Minh</td>
                                <td>150.000</td>
                                <td>
                                    <button class="btn btn-danger">Bị hủy</button>
                                </td>
                            </tr>
                            <tr>
                                <td>08</td>
                                <td>20010128008</td>
                                <td>Bùi Thị Kiều Trinh</td>
                                <td>23/12/2021</td>
                                <td>113 Trần Quốc Hào, Q.3, TP. Hồ Chí Minh</td>
                                <td>1.250.000</td>
                                <td>
                                    <button class="btn btn-danger">Bị hủy</button>
                                </td>
                            </tr>
                            <tr>
                                <td>09</td>
                                <td>20010128009</td>
                                <td>Nguyễn Thị Quỳnh Như</td>
                                <td>23/12/2021</td>
                                <td>113 Trần Quốc Hào, Q.3, TP. Hồ Chí Minh</td>
                                <td>2.000.000</td>
                                <td>
                                    <button class="btn btn-danger">Bị hủy</button>
                                </td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>20010128010</td>
                                <td>Trần Minh Quang</td>
                                <td>23/12/2021</td>
                                <td>113 Trần Quốc Hào, Q.3, TP. Hồ Chí Minh</td>
                                <td>1.250.000</td>
                                <td>
                                    <button class="btn btn-danger">Bị hủy</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>

