
@{
    ViewBag.Title = "Index";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Đơn hàng đã giao thành công</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">DataTables</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Danh sách đơn hàng đã giao</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Số đơn hàng</th>
                                <th>Tên khách hàng</th>
                                <th>Ngày giao</th>
                                <th>Địa chỉ</th>
                                <th>Thành tiền</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01</td>
                                <td>20010128001</td>
                                <td>Nguyễn Công Tuấn</td>
                                <td>23/12/2021</td>
                                <td>113 Trần Quốc Hào, Q.3, TP. Hồ Chí Minh</td>
                                <td>1.250.000</td>
                                <td>
                                    <button class="btn btn-success">Đã giao</button>
                                </td>
                            </tr>
                            <tr>
                                <td>02</td>
                                <td>20010128002</td>
                                <td>Trần Hoàng Phúc</td>
                                <td>15/12/2021</td>
                                <td>153 Đại Lộ Đông Tây, Q.Tân Bình, TP. Hồ Chí Minh</td>
                                <td>250.000</td>
                                <td>
                                    <button class="btn btn-success">Đã giao</button>
                                </td>
                            </tr>
                            <tr>
                                <td>03</td>
                                <td>20010128003</td>
                                <td>Hồ Tấn Đức</td>
                                <td>20/1/2022</td>
                                <td>Phường Vĩnh Bảo, Rạch Giá,TP. Kiên Giang</td>
                                <td>750.000</td>
                                <td>
                                    <button class="btn btn-success">Đã giao</button>
                                </td>
                            </tr>
                            <tr>
                                <td>04</td>
                                <td>20010128004</td>
                                <td>Nguyễn Công Trọng</td>
                                <td>25/1/2022</td>
                                <td>225 Trần Phú, Q.5, TP. Hồ Chí Minh</td>
                                <td>550.000</td>
                                <td>
                                    <button class="btn btn-success">Đã giao</button>
                                </td>
                            </tr>
                            <tr>
                                <td>05</td>
                                <td>20010128005</td>
                                <td>Nguyễn Tuấn Anh</td>
                                <td>23/12/2021</td>
                                <td>Quôc lộ 1A, Q.12, TP. Hồ Chí Minh</td>
                                <td>300.000</td>
                                <td>
                                    <button class="btn btn-success">Đã giao</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>



